<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<mat-expansion-panel>
   <mat-expansion-panel-header style="background-color:rgb(207, 239, 243);margin-top: 2%">
      <mat-panel-title>
         <strong>
            <span *ngIf='forecast.date===today'>Today</span>
            <span *ngIf='forecast.date!=today'>{{forecast.date | date:'EEEE'}}</span>
         </strong>
      </mat-panel-title>
   </mat-expansion-panel-header>
   <!-- loop for 8 forecasts per day -->
   <div class="flex-container">
      <div *ngFor='let fc of forecast.hourlyWeather'>
            <app-hourly-weather [forecast]="fc"></app-hourly-weather>
      </div>
   </div>
</mat-expansion-panel>